<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mesenger API</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="icon"
      type="image/png"
      href="http://localhost:4000/img/favicon.png"
    />
  </head>

  <body>
    <div class="container">
      <h1>Messenger</h1>
      <img class="image" src="http://localhost:4000/img/favicon.png" />
    </div>
  </body>
</html>
